[2014-10-22 06:14] hueniverse opened #1 "Document API"

[2014-10-22 06:14] hueniverse opened #2 "between()"

[2014-10-22 06:14] #1 closed, assigned to hueniverse

[2014-10-22 06:14] #2 closed, assigned to hueniverse

[2014-11-02 18:58] hueniverse opened #5 "throw('') matches any message"

[2014-11-02 18:58] #5 closed, assigned to hueniverse

[2015-01-12 21:56] dalemanthei opened #11 "Object [object Object] has no method 'startWith'"
We're getting an error attempting to use the startsWith validation. The code in github has the method but the version of code@1.2.1 installed on our system via npm install does not.

I've uninstalled code, cleaned the npm cache, reinstalled. I'm getting a 1.2.1 version of code but it still comes up with the missing function.

Is this an npm related issue or did the code package miss bumping a vers

[2015-01-12 22:05] gergoerdosi commented on #11
1.2.1 has been released before `startWith` was added. Currently it is available only on master.

[2015-01-13 02:57] dalemanthei commented on #11
I'm not aware of a way to install from master other than git cloning the project. If there is a way to do that using package.json, that would be cool.  If not, is there an outlook for when 1.2.2 would be bumped and released?

[2015-01-13 12:54] gergoerdosi commented on #11
You can specify the GitHub repository in `package.json`:

[code]

[2015-01-21 17:50] hueniverse commented on #11
Isn't @cjihrig maintaining this now?

[2015-01-21 17:56] cjihrig commented on #11
I am starting now :-)

[2015-01-21 17:58] lloydbenson commented on #11
thx @cjihrig!

[2015-01-21 19:04] #11 closed

[2015-01-21 19:09] cjihrig commented on #11
This is ready to go, I just need npm publish rights.

[2015-01-22 03:53] cjihrig commented on #11
1.3.0 is published

[2015-01-28 17:20] csrl opened #14 "do not truncate values in assertions"
I have a simple lab test that asserts:
[code]
And when it asserts I get output that looks something like:
[code]
Which doesn't provide the context I need to understand the failure.  So I have to go back into the test case, add a debug line like
[code]
and then rerun the tests to actually see what is going wrong.  It'd be nice if the value was not being truncated/formatted like that.

[2015-01-30 20:43] cjihrig commented on #14
I'll take a PR for this.

[2015-02-22 17:30] bruderstein opened #15 ".to.deep.equal() performs unexpectedly with empty object"
Due to [Hoek's deepEqual funtion](https://github.com/hapijs/hoek/blob/master/lib/index.js#L250)  only checking existing properties in the "left" object, thereby allowing the right object to be a superset of the left, means that an empty object always passes.

e.g.
If you have the following
[code]

If getCurrentUser() returns an empty object, this will pass, which is probably unexpected.
You get a

[2015-02-22 17:34] cjihrig commented on #15
Thanks for reporting this. This sounds more like an issue with Hoek. Can you open an issue over there? Once fixed, Code can be updated with the fix.

[2015-02-22 18:47] hueniverse commented on #15
Better to keep this open until it is resolved in hoek and verified here.

[2015-03-02 10:05] Marsup opened #16 "Expect object to have property"
Hi,

Coming from chai, I'm quite used to do things like `expect(obj).to.have.property('a').that.equals('foo')`.
What do you think of adding that to code ?

[2015-03-02 10:08] AdriVanHoudt commented on #16
Can you do `expect(obj.a).to.exist().and.to.equal('foo')`?

[2015-03-02 10:11] Marsup commented on #16
Less elegant but yes that would work. I'll wait for @cjihrig to advise on whether we add this.

[2015-03-02 14:07] cjihrig commented on #16
I personally prefer @AdriVanHoudt's version, but I would take a PR for this.

[2015-03-02 15:13] #15 closed

[2015-03-05 19:50] hueniverse commented on #16
I purposely didn't include it because `expect(obj).to.contain({ a: 'foo' })` does the trick just fine.

[2015-03-05 19:52] #16 closed

[2015-03-05 19:52] AdriVanHoudt commented on #16
I prefer Eran's solution but it doesn't allow you to do `expect(obj.a).to.exist().and.to.contains('foo')`

[2015-03-05 19:59] hueniverse commented on #16
What's the diff? if `obj.a` doesn't exist, my assertion will fail.

[2015-03-05 20:03] AdriVanHoudt commented on #16
In your case you check if `obj` has the property `a` with value `foo` in my case you check if  `obj.a` contains the value `foo` so it can also be `foo bar` or am I doing it wrong?

[2015-03-05 21:13] hueniverse commented on #16
Ah, you are using the string version. I generally avoid using partial comparisons...

[2015-03-05 21:14] AdriVanHoudt commented on #16
Ah yes if you take the original request your version would be better

[2015-03-05 21:34] Marsup commented on #16
Does it work for deep equal as well ? Like `expect(obj).to.contain({ a: { foo: 'bar' }})`.
Is it partial ? (ie. a may not only contain foo).
I'm trying to also find alternatives to `expect(obj).to.have.deep.property('a.foo').that.equal('bar')`.

[2015-03-06 08:20] hueniverse commented on #16
It should. Look at the tests in both hoek and code.

[2015-03-06 16:04] Marsup commented on #16
Well nope :
[code]

[2015-03-18 10:26] gagle opened #20 "Assert errors"
How can we check that an error must not exist but if it exists, throw the error? This is for asynchronous functions. Right now I do:

[code]

But when the function returns an error, lab just tells that `err` exists when it should not, the stacktrace of the error is not printed.

I'd like to have a function with the identical behaviour of node's built-in [assert.ifError()](https://nodejs.org/api/as

[2015-03-18 11:08] ulrikaugustsson commented on #20
Can't you use something like this?
[code]

[2015-03-18 11:20] gagle commented on #20
Nop, foo is asynchronous, it never throws the error, it is returned as an argument.

[2015-03-18 11:33] AdriVanHoudt commented on #20
`Hoek.assert(!err, err);` ?

[2015-03-18 11:45] gagle commented on #20
`hoek.assert()` definitely solves the problem but it's not the ideal solution since `hoek` is a general utilities module, we need something more aligned with `code`. The implementation of `code.ifError()` is trivial.

[code]

[2015-03-18 11:54] AdriVanHoudt commented on #20
the reason Code doesn't throw is to continue the tests even if 1 fails. If you want the stack trace of an actual error you can use https://github.com/hapijs/hoek#displaystackslice ?

[2015-03-18 12:02] gagle commented on #20
Well, I need the stack and the error description. If an error occurs I simply want to throw the error.

[2015-03-18 12:26] ulrikaugustsson commented on #20
Why would you want to throw in your test suite?

[2015-03-18 12:35] gagle commented on #20
To see why `expect(err).to.not.exist();` is failing.

[2015-03-18 12:38] ulrikaugustsson commented on #20
Shouldn't the stacktrace be shown anyway?

[2015-03-18 13:00] cjihrig commented on #20
`expect(err).to.not.exist()` is the correct thing to do. It will behave like your proposed `ifError()` method (see below).

[code]

[2015-03-18 13:00] #20 closed

[2015-03-18 13:05] gagle commented on #20
When used with lab the stack is not displayed, only the description:

[code]

[2015-03-18 13:08] cjihrig commented on #20
That's because Lab catches errors so the process does not crash and all of your tests can run. The same behavior should be seen if you explicitly throw an exception.

[2015-03-23 15:47] toymachiner62 opened #22 "Rename module"
Trying to do a google search for "hapi code", "npm code" or anything else is brutal for finding this module. Everything related to hapi itself, or node itself comes up.

I feel the name was not thought out very well and i suggest it be renamed b/c it's almost impossible to find this module on github, npm, or google.

[2015-03-23 19:23] cjihrig commented on #22
I understand where you're coming from. Unfortunately, we're not going to rename it.

[2015-03-23 19:23] #22 closed

[2015-03-24 19:24] cjihrig opened #24 "Allow prototypes to be ignored in deep comparisons"
Relies on https://github.com/hapijs/hoek/pull/133. This is a semver minor change.

[2015-03-24 21:35] #24 closed

[2015-03-26 21:10] #14 closed

[2015-03-27 08:12] hueniverse commented on #22
Maybe it was a secret and you just ruined it.

[2015-03-27 13:20] toymachiner62 commented on #22
Doh :exclamation:

[2015-04-08 03:13] dougwilson commented on #22
Another option is to simply use DuckDuckGo for searches: https://duckduckgo.com/?q=npm+code&ia=software

[2015-04-13 08:24] AdriVanHoudt commented on #22
@dougwilson I can't find it with duckduck either :p

[2015-06-15 23:28] marshall007 opened #30 "`settings.truncateMessages = false` causes issues with deep object comparisons"
It looks like the line on [`lib/index.js#L344`](https://github.com/hapijs/code/blob/92ebc19d88bec95f894b72efec6a24f12184e46c/lib/index.js#L344) assumes that the message portion of `error.stack` will only be one line (i.e. the `.slice(1)`). However, when `Code.settings.truncateMessages = false` the object is pretty-printed and the stacktrace looks like this:

[code]

[2015-06-16 18:56] #30 closed

[2015-06-16 19:07] cjihrig commented on #30
Published in v1.4.1

[2015-06-28 22:17] MadaraUchiha opened #33 "Is it possible to explicitly fail a test, with a message, without using hacks?"
My specific scenario is as follows. I have a method that returns a promise. I want to assert that under certain input, the method returns a promise which rejects. And if it does not reject, I wish to fail the test with something along the lines of "SomeObj.someMethod() should have rejected, but did not".

I know I can use `Code.expect(true).to.equal(false)` or something similar. But that would res

[2015-06-28 22:51] hueniverse commented on #33
Just throw.

[2015-06-28 23:06] MadaraUchiha commented on #33
Rejected promises don't throw. They're asynchronous. You can't try/catch them.

[2015-06-28 23:30] cjihrig commented on #33
If you're using `expect()`, then you're throwing anyway. That said, I'm not opposed to a `fail(message)` method that wraps the `throw`.

[2015-06-29 02:10] hueniverse commented on #33
What would be the purpose of the `fail()` method? Just sugar?

[2015-06-29 02:11] cjihrig commented on #33
Yep

[2015-06-29 05:58] hueniverse commented on #33
Well, it will need to be at the same level as `expect()` otherwise it looks stupid.

[2015-07-29 22:51] hueniverse commented on #33
Is this going to be implemented? Otherwise time to close it.

[2015-07-29 22:52] cjihrig commented on #33
@MadaraUchiha or anyone else, feel free to implement this. Closing for now.

[2015-07-29 22:52] #33 closed

[2015-07-29 22:54] hueniverse opened #35 "Throw original error when not.exist(err) is asserted"
When you do `expect(err).to.not.exist()` you really want the error information, not that some object was expected to be undefined.

[2015-07-29 23:25] #35 closed

[2015-10-17 20:23] coder13 opened #41 "Convenient way to add methods."
Unless I'm completely unaware of a simple way to do this, this should be possible just like it is in chai. It's as simple as exposing `internals.addMethod`.

I bypassed it by modifying the prototype of expect() (`expect().__proto__`).
but then you have to actually pass in a value to expect() and complete a assertion for lab to not complain.

My full solution was:
[code]

An extremely ugly solution

[2015-10-18 00:22] hueniverse commented on #41
"should be possible just like it is in chai" - why not just use chai? Not everything should be extended.

[2015-10-18 19:51] coder13 commented on #41
Why shouldn't everything be able to be extended? That puts power in the hands of the developer and they can continue to use simple, yet powerful libraries. Being able to plug many simple libraries together to make exactly what one needs is far superior than having to use a few things from large libraries.

I'm using code because of it's simplicity but the fact that it can't be extended (which is a

[2015-10-18 22:54] hueniverse commented on #41
Because once you allow extensions you need to maintain that API and in many cases, that will limit your ability to make internal changes. It's a long-term PITA. I belong to the No First school of open source leadership.

[2015-10-19 00:35] cjihrig commented on #41
I'm going to close this for now, in the same spirit as #39. If anyone can convince @hueniverse that this is a good idea, then we can revisit :-)

[2015-10-19 00:35] #41 closed

[2015-10-26 16:49] fourq opened #42 ""Condition always true" msg always showing."
Anyone know why a coverage lib would consider everything in green (in this pic) to be "Condition always true"? http://pi.cky.website/image/2d1i1I0c1y0q

[2015-10-26 16:52] Marsup commented on #42
You're always providing options and it always contains a logger.

[2015-10-26 16:55] fourq commented on #42
I don't know why that wasn't obvious to me. I wish I could bomb #42 from hell atm.

[2015-10-26 16:55] #42 closed

[2015-10-30 18:32] hueniverse opened #43 "node v4, es6"

[2015-10-30 18:37] hueniverse opened #45 "Update hapijs/hoek to 3.0.0 from 2.16.3"

[2015-10-30 18:40] #43 closed

[2015-10-30 19:41] #45 closed

[2015-11-13 22:40] hulbert opened #46 ".is.a.number() is true for NaN"
I get this matches `typeof` behavior in Javascript but can be a bit confusing. Would it make sense to have `.is.finite()` a la lodash, or something similar?

[2015-11-13 22:54] cjihrig commented on #46
I'm not personally a huge fan of adding a bunch of native JS stuff to an assertion library, when you can just do `expect(isFinite(n)).to.equal(true)`.

[2015-11-17 16:44] #46 closed

[2015-11-25 07:38] mtharrison opened #47 "once flag should change error message"
The `once` flag doesn't change the error message:

 `expect([1,2,2]).to.once.include(2);` => `Error: Expected [ 1, 2, 2 ] to include 2`

Which looks kinda weird because it does include 2. I think `once` should change the error message as `not` does:

`expect([1,2,2]).to.not.include(2);` => `Error: Expected [ 1, 2, 2 ] to not include 2`

[2015-11-25 16:17] cjihrig commented on #47
I'll take a PR for this if anyone feels like working on this before I get to it.

[2015-11-30 17:23] #47 closed

[2015-12-22 15:33] AdrieanKhisbe opened #49 "Add mention on README to go for 1.5.0 for node 0.10"
cf https://github.com/hapijs/lab/issues/502

(If there is an agreement, I can take care of the Fork&PR)

[2015-12-22 16:05] Marsup commented on #49
Probably same answer as in lab then.

[2015-12-22 16:18] AdrieanKhisbe commented on #49
for sure :)

[2015-12-22 16:23] cjihrig commented on #49
My issue with this is that you would have to maintain a list indefinitely of when support was dropped for every version of Node.

[2015-12-22 16:28] AdrieanKhisbe commented on #49
Not necessary. the information is of no use when the node version maintenance ends.

cf https://medium.com/@nodesource/essential-steps-long-term-support-for-node-js-8ecf7514dbd#.6kvx32z6l

Beside this would at most occurs one per breaking changes.

[2015-12-22 16:33] cjihrig commented on #49
You would think so. People still use Node 0.8 despite it being unsupported for a while now. The same thing will happen with 0.10 and every version after it.

I'm open to whatever is decided on across the majority of the hapijs org. My personal opinion is to not include it though.

[2015-12-22 16:50] AdrieanKhisbe commented on #49
cf https://github.com/hapijs/lab/issues/502#issuecomment-166671419

[2015-12-22 16:50] #49 closed

[2015-12-30 04:28] AdrieanKhisbe opened #50 "Question: how to attach message to expectation"
I'm currently porting some test from `mocha` to `lab`and `code`,
and I need to convey some expectation message that carry important knowloedge,
the intent of the expectation.

*Is it possible to currently attach a custom message in case an expection fail?*
I look in the api and it doesn't seems so. But I might have miss it

Otherwise would you be open in some PR adding this feature?

[2015-12-30 04:36] gergoerdosi commented on #50
You can add a prefix with the current code:

https://github.com/hapijs/code/blob/master/test/index.js#L125

[2015-12-30 04:49] AdrieanKhisbe commented on #50
@gergoerdosi I saw :)
However, not sure it's the point of the prefix argument.

[2015-12-30 15:27] cjihrig commented on #50
Prefix does what you're looking for. There isn't a way to completely remove the default assertion though.

[2015-12-30 15:44] AdrieanKhisbe commented on #50
thanks @cjihrig. wil be then using that :)

[2015-12-30 15:45] #50 closed

[2015-12-30 15:50] AdrieanKhisbe commented on #50
(add `question` label too, so that eventual user with same question might more likely end up there :) )

[2015-12-30 15:58] cjihrig commented on #50
Done :-)

[2015-12-30 16:00] AdrieanKhisbe commented on #50
:+1:

[2015-12-30 16:12] AdrieanKhisbe opened #52 "Proposal of expect.call helper syntax"
Checking if a function call trigger an exception required currently to use a function expression to wrap the function call.
Though this is simplified with arrow function, it's still not that readable.

An alternative would be to add a `expect.call(<myfunction>).with(<args>)` syntax.

I can take care of the implementation if this proposal meets positive reactions.

--------
Here is a real motivatio

[2015-12-30 16:29] cjihrig commented on #52
I can see how this would be helpful. Two things though:

1. I would make the syntax `expect(fn).calledWith(this, arg1, arg2).to.throw(...);`
2. Why not just use `Function.prototype.bind()`?

[2015-12-30 16:32] AdrieanKhisbe commented on #52
about the implem, `bind` was the idea ;)

[2015-12-30 16:32] AdrieanKhisbe commented on #52
and indeed, your syntax is even better!! :D

[2015-12-30 16:36] cjihrig commented on #52
I personally think it's more readable to do the bind by hand. That way you only have to understand native JavaScript, instead of `code` specifics. It might actually be less to type anyway.

However, I'm open to hearing what other people think.

[2015-12-30 16:48] AdrieanKhisbe commented on #52
One problem of `bind` is the first argument:
cf https://github.com/hapijs/joi/pull/787#discussion_r48454315 (by habits I went for `null`...).

Beside I don't find it more explicit. I feel it *cloud* test intent which is more *calling the function and getting an error*, than binding value.

I would also tend to not put `this` in calledWith. Most of the function not really use `this`

But for sure,

[2015-12-30 17:11] AdrieanKhisbe commented on #52
I started working on this. Shall I open a *WIP PR* to get feedback, and propose a basis for discusstino?

[2015-12-30 21:03] AdrieanKhisbe commented on #52
after first draft and replexion was more thinking about something like:

 `expect(fun).call.with(<args>).on(<this>).to.throw()``

The `with` and `on` being facultative.

A `return(value)` could also be added to check the return eventually. (as I had first wrote test)

[2015-12-30 21:21] gergoerdosi commented on #52
Expect.js had `withArgs`:

How about dropping `call` and just using `with`? I think it reads quite well:

[code]

[2015-12-30 22:41] cjihrig commented on #52
@hueniverse thoughts?

[2015-12-31 07:54] AdrieanKhisbe commented on #52
@gergoerdosi Good suggestion, I followed it, adding some aliases.

cf 2f162c2113aef228d390a3a34ed502ec07e4b3c3

[2016-01-02 12:00] AdrieanKhisbe commented on #52
Hapi New Year @all :)

Has a logical sequel of previous changes I introduced a `result` function to call the function and be able to assert on the result.

Was hesitating to add some alias names like `return`. Any suggestion is welcome

[2016-01-04 17:17] cjihrig commented on #52
The more I think about this, the less I like it. You have to add APIs for calling the function, getting the return result, setting `this`, etc. Just seems like a lot of unnecessary complexity when JavaScript gives you everything you need to do this just as simply, if not simpler.

I'm going to go ahead and close this.

[2016-01-04 17:17] #52 closed

[2016-01-04 17:28] AdrieanKhisbe commented on #52
Sure it's just sugar around javascript features.
But are as most of assert already in code! :)

**The point of this is to enable writing test in a very succint way.**
Without having noise around to define function you don't need.

cf [motivation example:](https://github.com/hapijs/joi/blob/master/test/function.js#L77-L93)

-------
    expect.call(Joi.func().minArity).with(0).to.throw(Error, 'n mus

[2016-01-04 17:39] cjihrig commented on #52
Just use `bind()` and it's still 3 lines.

Another reason I don't like this proposal is that you need to be able to set `this`, or else it's incomplete (unless you're dealing with arrow functions, but there is no way to tell that). Just a can of worms that I don't want to open.

But are as most of assert already in code! :)

To be honest, I wouldn't have accepted some of the existing features like

[2016-01-04 17:45] AdrieanKhisbe commented on #52
That's because it's hard it's better to rely on a library to do this correctly (haence relying on a developer to fight the C++ layer for us :), thanks for that).
From a library user it's a powerful abstraction.

Are you refering to the `on`syntax?
And what king of worms you fear to come out of this?

[2016-03-10 11:08] simon-p-r opened #57 "Problem with internals.at"
Hi

I am having a problem with this line https://github.com/hapijs/code/blob/master/lib/index.js#L435, due to the value of "const at". Sometimes the value is null meaning the return value from function throws an error and then shows "thrown errors in test" message in tests being run by lab.

[2016-03-10 14:10] cjihrig commented on #57
Can you provide an example?

[2016-03-10 14:22] simon-p-r commented on #57
Not easily, it was due to a thrown ENONENT error.  I resolved by destroying a path and recreating for every test run by lab.

[2016-03-10 14:35] cjihrig commented on #57
Reproduction:

[code]

I'll try to get to this over the weekend.

[2016-03-13 17:24] #57 closed

[2016-03-22 20:40] fourq opened #59 "shows “actual” “expected” (red, green) but doesn't show a red or green point of failure."
seems to have a bug where a test fails and shows “actual” “expected” (red, green) but doesn't show a red or green point of failure

I see this mainly on large JSON `expect(…).to.deep.equal(…);`

[code]

`res.result` an `fakeMappedForms` can be found [here](https://gist.github.com/fourq/68dded1e9218f1dd83b3)

[2016-03-22 20:42] gergoerdosi commented on #59
This sounds like a [lab](https://github.com/hapijs/lab) issue. Code doesn't have coloring.

[2016-03-22 20:43] fourq commented on #59
I'll create over there and link to here as well, thanks

[2016-03-22 20:44] cjihrig commented on #59
If the only issue is coloring, then it's a lab issue.

[2016-03-23 10:33] sulhome opened #60 "is there a "definitelytyped" definition for code"
I wonder if there is a "definitelytyped" definition for code. This is very helpful in IDE's like WebStorm as it is reporting a lot of weak warnings for things like `to.be.true()`. These warnings will disappear if you download the "definitelytyped" definition

[2016-03-23 12:00] cjihrig commented on #60
I have no clue. If you mean an entry in https://github.com/DefinitelyTyped/DefinitelyTyped, then it doesn't look like it.

[2016-03-23 12:00] #60 closed

[2016-03-25 14:17] cjihrig commented on #59
So I'm not sure how you expect me to test this. You provided a single object. I created a script and assigned separate copies of the large object to two different variables and compared via `Code.expect(foo).to.deep.equal(bar);`. The comparison passed. I tried modifying a single field in one of the objects, and the comparison caught the change. I'm going to close this for now. If you can provide a

[2016-03-25 14:17] #59 closed

[2016-03-25 14:25] fourq commented on #59
interesting. around noon today I'll add a reasonable issue response

[2016-03-25 14:28] cjihrig commented on #59
One more thing. Under the hood, `code` just calls [`Hoek.deepEqual()`](https://github.com/hapijs/hoek#deepequalb-a-options). If you are able to verify that the comparison isn't working, please try `Hoek.deepEqual()` as well.

[2016-04-05 13:14] Marsup opened #61 "Proposal: error type"
Hi,

I'd like to simplify some of my checks on async errors, so an API like that would help :
`asyncTask((err, value) => expect(err).to.be.an.error('with that message'))`

Thoughts ?

[2016-04-05 14:00] cjihrig commented on #61
I'd take a PR for it. I think it should match `throws()` as much as possible.

[2016-04-06 13:17] #61 closed

[2016-04-06 13:24] cjihrig opened #63 "Document new error() method"
#62 landed with no doc update.

[2016-04-06 13:49] #63 closed

[2016-04-18 07:20] atlanteh opened #66 "mocking methods & properties"
Is there any way or a plan to add mocking for methods, checking how many times a method was called, etc.?
In a server env, I want to test every component on its own, and its impossible without mocking methods.

[2016-04-18 08:36] hueniverse commented on #66
That's probably out of scope. Why not use sinon or other such solutions?

[2016-04-18 13:13] cjihrig commented on #66
Yea, I don't think that really belongs in an assertion library. You could just monkey patch the methods by hand, or use something like `stand-in`.

[2016-04-18 13:13] #66 closed

[2016-04-18 16:08] danielb2 opened #67 "ability to match on non-specific array item"
On non-ordered arrays (arrays not always coming back in specific order), it would be nice to be able to do a match on an item you know to be in there somewhere.

Example:

[code]

[2016-04-18 17:01] arb commented on #67
Wouldn't that be the same as

[code]

[2016-04-18 18:44] cjihrig commented on #67
Hm, the documentation should be updated to make it clear that `match()` handles more than just strings. It looks like the `expect()`ed thing is `toString()`ed before testing against the regex.

[2016-04-18 18:45] cjihrig commented on #67
And a test or two would be nice :-)

[2016-04-18 20:56] danielb2 commented on #67
Hm, the below fails

[code]

[2016-04-18 20:58] danielb2 commented on #67
It looks to me that what it does is a toString() on the array. But that's not the same as individually matching each item in the array

[2016-04-18 20:58] cjihrig commented on #67
Yea. The array `toString()` adds the `[ ` to the start of the string that is tested. So we would need a separate API to work on array elements.

[2016-04-18 21:18] cjihrig commented on #67
I think what we would want here is `deep.match()`. The other `deep` stuff relies on `Hoek` though. I don't think there is support there for this.

[2016-04-30 01:00] hueniverse opened #68 "Default to deep copy"
Here's a fucking crazy idea - default comparisons to deep. Why are we all typing `.deep` over and over again when almost no one needs shallow, reference comparison. I would even go as far as come up with a new method for `.to.be.reference()` to make your intention clear.

I'm so fucking sick of having to fix my tests because of a missing `.deep` modifier.

[2016-04-30 14:57] cjihrig commented on #68
I agree with this idea. I think it would be simplest to just add a `shallow` modifier though.

[2016-04-30 19:00] hueniverse commented on #68
I would like both. `shallow` and `reference()`.

[2016-05-06 18:56] hueniverse opened #70 "expect(err).to.not.exist() reports wrong 'at' information"
Should always be the actual assertion not the error returned originally.

[2016-05-06 19:17] #70 closed

[2016-05-20 01:29] #68 closed

[2016-05-22 02:03] rodoabad opened #74 "Enforce semantic commit messages"
`code` is now `3.0.0`, however there wasn't any changelog explaining the breaking changes. Us consumers of `code` would like to have a way to know what changes happened.

With semantic commit messages, we can auto-generate changelogs based on commit messages. This also enforces contributors to write better commit messages.

[2016-05-22 09:05] hueniverse commented on #74
We use the `breaking changes` label to document these things.

[2016-05-22 13:25] cjihrig commented on #74
Also see the 3.0.0 milestone - https://github.com/hapijs/code/issues?q=milestone%3A3.0.0.

[2016-05-22 13:26] #74 closed

[2016-05-31 14:46] tanepiper commented on #68
Urgh thanks folks - while this *is* an appreciated change because deep behavior should be default, this morning I ended up spending two hours trying to figure out why recent tests broke in our latest update, and then refactoring the code to fix it.  This change was not made visible (nothing in the release notes or changelog - and the API docs still reference 2.3.0) and no deprecation warning - jus

[2016-05-31 14:56] cjihrig commented on #68
My bad on the API doc. The docs were correct, with the exception of the version at the top. That is fixed now.

[2016-05-31 15:16] tanepiper commented on #68
@cjihrig Thanks, appreciated (and all the work you've done on Code so far)

[2016-05-31 17:14] hueniverse commented on #68
@tanepiper so you moved to a new major version and just assumed nothing broke?!

[2016-06-01 08:08] tanepiper commented on #68
@hueniverse Never assumed nothing would break, but it was not documented clearly - usually major breaking changes are clearly marked in changelogs, and like I said the API docs had not been updated *clearly* to reflect the version change at it was still referencing v2.3.x which caused some initial confusion.

I had to find out from twitter that it's here in the Milestones section of Code that it's

[2016-06-01 08:26] hueniverse commented on #68
I am not arguing the change was clearly documented, just that I would expect you to first figure out what changed before actually making the transition...

[2016-06-02 13:41] enjikaka commented on #68
"I would expect you to first figure out what changed"

Now that's gonna be quite hard if you don't update the docs. Never **_EVER_** release without updated docs.

[2016-06-02 14:10] nlf commented on #68
The existing pattern of documenting breaking changes for any hapi related project has always been the milestones. As Eran said, updating without looking to see what changed is what caused the issue here.

However, I would agree that you not looking was likely caused by the fact that finding the milestones is a pain in the ass. I have a couple of ideas to help make this easier for everyone in the f

[2016-06-02 14:13] devinivy commented on #68
This is free software open for improvement by everyone.

In this case the docs were updated, but a simple mistake was made in updating the doc's heading to reflect the new version.  The hapijs organization reliably uses milestones to track changes, and in the future if there's any question as to what has changed with a version bump, you can at the very least check there.  If you find that a mistak

[2016-06-02 15:52] enjikaka commented on #68
@nlf Not trying to be hostile. If you've ever use other peoples code enough I'm sure you've encountered the frustation when developers do not keep their documentation up to date so things just don't work out for others, and you have to spend a week trying to figure out why. What seems to be a small thing to miss out on can actually have a really big and bad effect for many people. This is the wors

[2016-06-07 13:16] cjihrig opened #75 "Add .npmignore file"

[2016-06-07 13:16] cjihrig commented on #75
Done in fa438900d26d89d7b8e970e9a8fe6c5e64c800a3.

[2016-06-07 13:16] #75 closed

[2016-06-09 18:16] jdarling opened #76 "expect().to.equal() failing on object compare, what am I doing wrong"
Ok, so this works in a different project doing this exact same thing, but fails in my current project.  Any clue what I'm doing wrong:

[code]

Note that the console outputs are EXACTLY the same.

The output from the test is:

[code]

Any ideas, I know I'm missing something simple stupid here :(

[2016-06-09 18:23] cjihrig commented on #76
What version of Node? What version of code? And, are the prototypes of the objects being compared different?

[2016-06-09 18:26] jdarling commented on #76
Prototype is a basic object, so no different there and I've tried setting prototype to false.

Node 4.4.3 using Babel and a setup script.

code: 2.3.0

[2016-06-09 18:27] cjihrig commented on #76
Can you try `deep.equal()`?

[2016-06-09 18:29] cjihrig commented on #76
From 2.x.x to 3.x.x, the `equal()` functionality changed. It shouldn't have mattered from 2.1.0 to 2.3.0.

[2016-06-09 18:29] #76 closed

[2016-06-09 18:30] jdarling commented on #76
Thanks, I'll update my other project as well just to ensure I don't forget :D

[2016-06-27 07:44] Chatatata opened #78 "`expect(object).to.include/contain` does not work"
I have an object (actually, standard mongoose object) like so:

    { _id: 5770d65ff0574d31c139ed4e,
    username: 'test',
    email: 'test@mail.com',
    active: true }

and I want to check fields of it with include/contain:

    Code.expect(result).to.contain('username');

fails. Am I missing something here?

Failure log:

    Expected { _id: 5770da42cc7a52d2c1e83272,
    username: 'test',
    e

[2016-06-27 07:53] Marsup commented on #78
Might be useful to include the actual failure.

[2016-06-27 08:00] Chatatata commented on #78
@Marsup added log, thank you.

[2016-06-27 08:02] Marsup commented on #78
No stack trace at all ?

[2016-06-27 08:08] Marsup commented on #78
What does Object.keys return on your object ?

[2016-06-27 08:23] Chatatata commented on #78
I figured out `Object.keys()` returning different keys then I thought. Seems it's a Mongoose object.

Lesson learned: Hapi's `server.inject` method does not actually use regular request pipeline. Objects you replied in injected endpoints directly pass to the response handler after injection. I was expecting it is being converted to string and converted back to JSON again, imitating a HTTP request/

[2016-06-27 08:23] #78 closed

[2016-06-27 08:35] Marsup commented on #78
That depends on what you take from the response object.

[2016-07-27 19:06] hueniverse opened #79 "npmignore"

[2016-08-01 23:30] cjihrig commented on #79
Looks like this was done in 890e7b3272d736850bed8bcec27fe612bc20ba6e and published in 3.0.2.

[2016-08-01 23:30] #79 closed

[2016-08-16 17:29] cjihrig opened #81 "Fix broken test"
The multi-line error message test broke on Node v6.4.0. See https://github.com/nodejs/node/pull/8028

[2016-08-16 17:35] #81 closed

[2016-08-23 06:28] blacksun1 opened #83 "Include should validate number of arguments"
Hi,

We have been moving some large code bases from Mocha/Chai to Lab/Code and have found the experience very good. One issue we've found though has been converting from chai's `.property('foo', 'bar')` to Codes `.includes({'foo': 'bar'})`.

We tend to find that we sometimes forget to change the 2 string arguments to a single object argument but Code does not warn us therefore only the member exis

[2016-08-28 02:07] #83 closed

[2016-08-29 19:18] blacksun1 commented on #67
Would I be right in thinking that these would be valid expectations?

[code]

Anything missing from this list that you can think of?

[2016-08-30 16:08] blacksun1 opened #86 "Tests failing on node 6.5.0"
Test "invalidates assertion (known type)" fails when run on Node 6.5.0 as per travis build https://travis-ci.org/hapijs/code

fails because nodes `util.inspect` has changed it's return value for the code `const Custom = function () { };`

[code]

v4.4.7 returns `{}`
v6.4.0 returns `{}`
v6.5.0 returns `Custom {}`

My guess is that the other issues are similar but I haven't drilled down into them ye

[2016-09-01 16:01] #86 closed

[2016-09-01 16:02] cjihrig commented on #86
Thanks for reporting this. It's now fixed.

[2016-09-01 16:15] cjihrig commented on #67
Yes, I suppose those assertions seem valid. Although, to be honest, I find this API to be a little too magic. Same with the `include()` API.

[2016-09-02 14:48] blacksun1 commented on #86
No worries.

[2016-09-02 14:52] blacksun1 commented on #67
Would it be better just to make certain that match, by default, only works on strings and fails on anything else.

If it was popular enough someone could propose to have another assertion for array matching. It feels like it should be something like includeMatch or something.

[2016-09-10 00:33] cjihrig commented on #67
If I was starting from scratch, I'd say yes. At this point, maybe we should go with a documentation update to `match()` saying that the reference value is converted to a string before testing the regex.

[2016-09-10 23:01] #67 closed

[2016-09-11 06:11] blacksun1 opened #90 "Include does not work for defined properties?"
Hey,

I has expected that the following would work - and it doesn't.

[code]

Is this a bug or a "feature"?

Regards,

[2016-09-11 06:57] blacksun1 commented on #90
As include is essentially a wrapper for `Hoek.contain` I've opened an issue other with them:

https://github.com/hapijs/hoek/issues/196: contain doesn't support non-enumerable properties defined with defineProperties

[2016-09-12 22:33] cjihrig commented on #90
I'm going to let `code` defer to `hoek` here. I looked into it extremely briefly, and it might be as simple as changing from `Object.keys()` to `Object.getOwnPropertyNames()`.

[2016-09-12 22:33] #90 closed

[2016-09-12 22:34] cjihrig commented on #90
@blacksun1 thanks for your continued investigation into `code` by the way :-)

[2016-09-12 22:40] blacksun1 commented on #90
Umm, no worries. It is totally selfish actually - we are slowly moving everything from Mocha/Chai to Code/Lab and any fixes makes my job easier.

[2016-09-19 09:33] blacksun1 opened #91 "New release?"
Hi, There has been a bunch of new changes made to code over the last few weeks at least. Can these please be released to NPM soon? There hasn't been a release since July.

Thanks in advance,

[2016-09-19 14:32] cjihrig commented on #91
I was trying to avoid bumping the major too soon after the 3.0.0 release, which was on May 20th. Looking at the [4.0.0 milestone](https://github.com/hapijs/code/milestone/15?closed=1), #84 and #77 are the only changes to `lib/` code - amounting to two low priority changes and two total lines of code changed. That said, 4 months is plenty of time between major releases, so I'll most likely do a rel

[2016-09-19 17:42] blacksun1 commented on #91
Maybe we should see what if anything happens with [Hoek issue number 196 (contain doesn't support non-enumerable properties defined with defineProperties)](https://github.com/hapijs/hoek/issues/196) as well.

[2016-09-19 18:46] cjihrig commented on #91
Looks like that Hoek PR was merged and published in 4.1.0, so it will automatically get picked up here.

[2016-09-19 18:55] blacksun1 commented on #91
Haha. Yeah, that happened just a few minutes ago - after I wrote that comment.

[2016-09-21 23:41] cjihrig commented on #91
v4.0.0 is published.

[2016-09-21 23:41] #91 closed

[2016-10-06 03:18] aredridel opened #92 "Changelog?"
What changed in Code 3? What changed in Code 4?

I've got a project on code 2, and it'd be nice to know what I've got to update. I couldn't find a changelog, and certainly not a list of breaking changes.

[2016-10-06 03:25] devinivy commented on #92
We rely on diligent milestoning and tagging to document changes.  Here's a search that should help! https://github.com/hapijs/code/issues?utf8=%E2%9C%93&q=label%3A%22breaking%20changes%22

In short, code v3 introduces `to.shallow.equal()` and makes `equal()` deep by default.  I'm actually not familiar with the changes in code v4, but my impression is that it's a subtle change that is not likely to

[2016-10-06 03:28] cjihrig commented on #92
The changes all go into milestones. These are the changes for [3.0.0](https://github.com/hapijs/code/milestone/13?closed=1) and [4.0.0](https://github.com/hapijs/code/milestone/15?closed=1).

For v3, see https://github.com/hapijs/code/pull/73, which changes comparisons to be deep by default.

For v4, see https://github.com/hapijs/code/commit/88a5d243ff0086536269f6d7b8eef54fe3b35796, which only eff

[2016-10-06 03:28] #92 closed

[2016-10-06 04:17] aredridel commented on #92
That'll do, I guess. Never woulda found that from any of the entry points. Still hard to tell what changed and what I need to do to update for 4. That commit message doesn't explain much.

[2016-10-07 17:23] wabblerjs opened #93 "improve deepEqual?"
I saw you was using Hoeks deepEqual algorithm. Why? **Lodash** or this one: https://github.com/zubuzon/kewlr supports much more features. Lack of features in current implementation.

[2016-10-07 18:02] AdriVanHoudt commented on #93
It is what the hapi ecosystem uses. You can always do `expect(strict({ 0: 'a', 1: 'b' }, ['a', 'b'])).to.be.true()` in kewlr's case

[2016-10-08 00:30] cjihrig commented on #93
We're going to stick with the hoek implementation to minimize external dependencies, and keep consistency with the rest of the hapi ecosystem. Feel free to suggest features and improvements in the hoek repo though.

[2016-10-08 00:30] #93 closed

[2016-11-24 11:48] blacksun1 opened #95 "Breaking change in include assertion in Code 4.0.0?"
Hi,

the following code works in Code 3.0.2 and failed in 4.0.0

[code]

Error output on Code 4.0.0 was

[code]

Is this is an expected breaking change?

[2016-11-24 14:15] cjihrig commented on #95
Yes. Please see the discussion in https://github.com/hapijs/code/pull/77. Basically, the only breaking change in v4.0.0 was the handling of the `include()` method's `part` flag.

[2016-11-24 14:15] #95 closed

[2016-11-24 20:25] blacksun1 commented on #95
Thanks for headsup.

[2016-11-25 23:30] Gopikrishna19 opened #96 "Wrong assertion for `-0`"
the following code fails:

[code]

while doing a shallow equals passes:

[code]

Is this an intended feature? shouldn't '-0' be equal to '0', since javascript tells that `0 === -0` is true? Please let me know. Thanks

[2016-11-25 23:36] Gopikrishna19 commented on #96
I also noticed that this feature is not reflected for a `+0`:

[code]

[2016-11-26 00:20] cjihrig commented on #96
Thanks for reporting this.

Shallow comparison passes because it uses a strict JavaScript comparison. Deep equal outsources the comparison to `Hoek.` It looks like this issue probably comes from [this](https://github.com/hapijs/hoek/blob/c4b66fdd8e70a79e0ee0c5674386736e7cf6d57b/lib/index.js#L271) line. Please open this issue there.

cc: @nlf

[2016-11-26 00:20] #96 closed

[2016-11-26 14:24] Gopikrishna19 commented on #96
@cjihrig Thanks and done :)

[2017-02-17 16:17] valdemon opened #97 "Strange behavior of the 'include' assertion on a string value."
Hi,

[code]

When the `include` parameter array order is reversed the assertion succeeds, of course ;)
Tested with the `v4.0.0`.
Is it a bug or a feature?

[2017-02-17 17:05] cjihrig commented on #97
I think this is working as expected. `include()` does all of it's work via [`Hoek.contain()`](https://github.com/hapijs/hoek/blob/master/API.md#containref-values-options). The documentation for that method says:

I think you're running into this situation. I'm going to close this, as I don't think it's an issue, but can reopen if we decide otherwise.

cc: @nlf who maintains hoek and may have somet

[2017-02-17 17:05] #97 closed

[2017-02-17 17:22] valdemon commented on #97
Ok, thanks for the info, also noticed that about the `Hoek.contain()` in a meantime.
This simple overlapping example data (`ab bc` and similar) look quite innocent and not so destructive, so I understand your point.
In a real life test cases it can really fool you though..
At least one must always bear this feature in mind, when constructing assertions.

Thanks for a quick answer!

[2017-02-17 17:24] cjihrig commented on #97
No problem. To be honest, I really dislike `include()` a lot. I think it tries to do too many things at once. I would only recommend using it for really simple things.

[2017-02-20 07:46] valdemon commented on #97
Maybe it would be reasonable to put the link to the [Hoek.contain()](https://github.com/hapijs/hoek/blob/master/API.md#containref-values-options) doc (or the note from there) to the  [Code.include](https://github.com/hapijs/code/blob/master/API.md#includevalues) doc, just to avoid confusion?

[2017-03-21 14:45] antony opened #98 "Code can actually support asynchronous assertions"
Hi.

We've been split in our team for some while about using `code` (Which is my preference) and `chai`, which is unacceptably prone to false positives/negatives. The reason for the aversion to code was that we were doing some really ugly try/catch around the `throws` method for testing promises.

We realise that code was never designed to test promises, as the hapi team doesn't make use of them,

[2017-03-21 14:49] cjihrig commented on #98
Sure, I'll take a docs PR for this. Thanks!

[2017-03-21 15:13] antony commented on #98
Cancelling this for now - our excitement was a little premature! It seems like our mocking library was throwing an error synchronously hence code being able to catch it.

I'll re-open when I've found another workaround!

[2017-03-21 15:13] #98 closed

[2017-03-21 15:15] Marsup commented on #98
As opposed to asynchronously ? If you use promises you have to go all the way.

[2017-03-21 15:17] antony commented on #98
Yeah - it looked like we were managing to wait for the exception to be thrown and catching it, but the error was being thrown immediately, at promise creation time - hence it was thrown synchronously (I think?)

[2017-03-21 15:18] Marsup commented on #98
Everything should be wrapped if you're using promises, you can't have it both ways.

[2017-05-19 14:53] cjihrig opened #100 "Proposal: remove include()"
I'm proposing removing `include()`. It's too magical. There are too many modifiers, and there are differences for arrays, objects, and strings. I don't think anyone actually knows how this behaves 100% of the time.

If no one strongly objects, I'd like to remove this in the next major release.

[2017-05-19 14:59] vdeturckheim commented on #100
:+1: on that

[2017-05-20 10:03] hueniverse commented on #100
I need everything it does, but if you want to break it into individual use cases, that's ok.

[2017-05-20 16:48] AdriVanHoudt commented on #100
@Marsup you reacted with a "sad face" does that mean you also use it and don't want it removed?

[2017-05-20 16:57] Marsup commented on #100
Yes. I adhere to what @hueniverse said, can't quantify how much of those features I use though. Although most of my use cases could probably be covered by something akin to [`jasmine.objectContaining`](https://jasmine.github.io/2.1/introduction.html#section-Partial_Matching_with_%3Ccode%3Ejasmine.objectContaining%3C/code%3E). Reminds me a bit of joi so maybe a better api can be found...

[2017-05-20 17:14] cjihrig commented on #100
I'm just going to leave this as is.

[2017-05-20 17:14] #100 closed

[2017-05-20 21:46] hueniverse commented on #100
@cjihrig I agree it does a bit of magic right now. It would be cool to be more expressive like `expect(x).to.be.an.array.containing()` or `expect(x).to.be.an.object.withKeys()`.

[2017-05-22 14:04] cjihrig commented on #100
Since `include()` is basically [just a call to `Hoek.contain()`](https://github.com/hapijs/code/blob/461fdb1c0cffd5227b4a18ac1698ad75aaa22017/lib/index.js#L206-L213), it might be more work and breakage than it's worth. It's not like we'd be reducing complexity, so I'd rather not break existing tests.

[2017-07-14 08:28] sidwood opened #103 "Expected async function to be a function"
I expected the following to pass

[code]

but I get

[code]

I'm using code 4.1.0.

The `typeof` operator returns 'function' for async functions so this looks like an issue but honestly, I'd be surprised if this was missed wich makes me second guess. Maybe I just need to adjust my expectations.

[2017-07-14 13:23] cjihrig commented on #103
Fixed in https://github.com/hapijs/code/commit/cf692d07817ef37d51c60e96a7ed23e6bb8a1c4a.

[2017-07-14 13:23] #103 closed

[2017-07-14 13:24] cjihrig opened #104 "Add test for async functions"
This test works, but currently fails linting (the parser fails). Also have to deal with Node version issues.

[code]

[2017-09-16 04:28] cjihrig commented on #104
Adding this to the 5.0.0 milestone because lab has been updated.

[2017-09-16 04:36] #104 closed

[2017-09-16 04:37] cjihrig commented on #104
Closed in bb37cc55a8a03c27df1568ad7377ff6565cd9149.

[2017-09-17 14:04] kanongil opened #106 "Allow custom validation function for reject"
The new `await reject` that helps test promise rejections only supports two specific validation methods on the returned error.

It would be much more useful, if it can support additional custom validation, either through a callback, or by returning the error.

Example:

[code]

Alternatively:

[code]

This mode looks cleaner, but is a bit weird, since it requires `reject` to resolve with the error

[2017-09-17 17:45] hueniverse commented on #106
I had the same thought as I was rewriting the tests and had to use try...catch instead of an assertion where the test needed extra checks. I'll add this today. I think we can support both options...

[2017-09-17 20:22] #106 closed

[2017-09-18 11:54] midknight41 opened #107 "Compatibility with older versions of node"
Hi Folks,

Can you confirm that you've intentionally dropped support for node.js 4 and 6? If so that does seem a bit harsh. I mean, version 8 isn't even under LTS yet.

Any users of code won't be able to upgrade and still offer compatibility with older versions of node as all our tests break.

[2017-09-18 12:56] cjihrig commented on #107
There is an effort in hapi core to move completely to async/await. Unfortunately, that does involve dropping support for older versions of Node. To answer your question, yes, that was intentional. You can continue using the older versions of `code`. The module doesn't change much/often, so you should be fine.

[2017-09-18 12:56] #107 closed

[2017-09-18 22:41] jtlapp opened #108 "5.1.0 fails to load"
Running the following:

[code]

Produces the following error:
[code]

Code works as expected when I back out to `code@4.1.0`.

Running node v.6.9.1 on a Mac.

[2017-09-18 22:57] cjihrig commented on #108
Version 5 includes the use of `async` functions, which are not present in Node 6. The new version only supports Node 8.

[2017-09-18 22:57] #108 closed

[2017-09-18 23:04] jtlapp commented on #108
Okay thanks. You could have saved both of us time by making this clear on the readme page.

[2017-09-19 03:00] hueniverse commented on #108
@jtlapp this is all on you. You either started using this today and never bothered to look at the package information, or you have been using this for a while and just upgraded without bothering to find out why this is a major version change. Clearly this includes a breaking change. Who upgrades without knowing what is actually included?!

The only person wasting people's time is you.

[2017-09-19 03:33] jtlapp commented on #108
I'm reading a book on hapi.js and followed the instructions to install `code`.

[2017-09-19 03:43] jtlapp commented on #108
I did read the 5.x version history for notes, but there weren't any. It's just a matter of how helpful you want to be to people who are trying to get up to speed.

I apologize for the frustration in my original response. It did cost me a bit of time, but that's only an explanation, not an excuse.

[2017-09-19 05:32] hueniverse commented on #108
@jtlapp Attitude matters. I have a zero tolerance policy when it comes to people expressing even slight hints of entitlement. I appreciate your response and clarification.

As for the issue, you showed up right in the middle of a major transition to node v8 and full async/await interface. This is going to break a lot of stuff. You should pay attention to versions if you don't want to run node v8.

[2017-09-21 18:45] CodisRedding commented on #107
Which version of Code introduced async so that I can rollback to the previous one?

[2017-09-21 18:53] cjihrig commented on #107
v5.0.0 introduced async functions.

[2017-09-26 15:02] tutukin commented on #103
Seems that in node 8.x the issue is reproduced due to changed internals:

[code]
Expected [AsyncFunction: af] to be a function but got 'object'
[code]

[2017-09-26 15:10] cjihrig commented on #103
Try it with Code v5 on Node 8.

[2017-09-26 15:34] tutukin commented on #103
Ok, now I've got it: lab 14.3.1 uses code 4 internally and does not notice code 5 is installed.

[2017-10-02 21:50] lvegerano opened #109 "Testing the construction of a class"
I'm implementing a strategy pattern. I have my context class throw an error when an invalid strategy is passed. I'm not sure how to test this. My context constructors is what throws.

[code]

Now on my test I'm trying
[code]

Is this possible? Am I doing something wrong?

[2017-10-02 21:54] Marsup commented on #109
Put it in a function, `expect(() => new NotificationsDispatcher())`.

[2017-10-02 21:54] #109 closed

[2017-10-05 16:47] geek opened #110 "Cannot read property 'length' of null"
`lib/index.js:263`

When `expect(null).to.have.length(2);`

[2017-10-06 07:55] AdriVanHoudt commented on #110
Easy link https://github.com/hapijs/code/blob/a878e86667c05b3974b4456386e2277bb770f02e/lib/index.js#L263

[2017-10-06 07:55] AdriVanHoudt commented on #110
would  `this._ref && (this._ref.length !== undefined ? this._ref.length : Object.keys(this._ref).length)` fix it?

[2017-10-07 19:57] cjihrig commented on #110
@AdriVanHoudt want to submit a PR and find out 😄 ?

[2017-10-09 12:36] #110 closed

[2017-10-09 15:51] philkunz opened #112 "node lts"
Shouldn't node lts (6.x.x) be supported?

Currently you restrict node to 8.x.x ...

[2017-10-09 15:53] AdriVanHoudt commented on #112
If you want a version that supports node < 8.x.x use v4.x.x of this module

[2017-10-09 16:24] philkunz commented on #112
fair enough. Any particular reason for not supporting node 6 lts?

[2017-10-09 18:24] hueniverse commented on #112
The entire hapi ecosystem is moving to node 8.

[2017-10-09 18:24] #112 closed

[2017-10-12 18:25] machineghost opened #113 "Standalone?"
I'd like to use the HapiJS Code library without the rest of the HapiJS framework: is that possible, and if so what `npm` package should I use?

[2017-10-12 18:34] Marsup commented on #113
code?

[2017-10-12 18:39] machineghost commented on #113
As in this library/package, https://github.com/hapijs/code

[2017-10-12 18:42] #113 closed

[2017-10-13 03:14] hueniverse commented on #113
Our efforts are aimed at people using the hapi.js framework. Helping people use components for other use cases is fine, but not a priority or worth our limited resources.

[2017-10-13 19:30] machineghost commented on #113
Fair enough.  I mean, I don't think adding a single `npm i` line to a readme is a huge use of resources, but I totally get your point that even 0.000001 units of effort for something irrelevant is too much.

[2017-10-13 21:34] hueniverse commented on #113
It's kinda silly request though. If you cannot read a package.json file yourself and figure out how to install a package. that level of documentation is just useless.

[2017-10-15 15:44] machineghost commented on #113
I'd respond about how much packages (let alone most sub-packages of a larger framework) don't have a name of `code`, but at this point you could have added the line in the time it took you to respond to me, so if your goal is not to waste time I won't continue wasting your time by trying to convince you.

[2017-10-23 02:31] WennderSantos opened #114 "Unexpected token function"
Hey

When I try to run my tests using versions 5.0.0 or 5.0.1 I get this error:

/Users/wennderangelodossantos/project/node-tdd/node_modules/code/lib/index.js:402
internals.reject = async function (/* type, message */) {
                         ^^^^^^^^

SyntaxError: Unexpected token function
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (mo

[2017-10-23 02:33] cjihrig commented on #114
You have to be using Node 8, as code 5+ uses `async` functions.

[2017-10-23 02:33] #114 closed

[2017-10-23 02:44] WennderSantos commented on #114
Now it works, thanks, @cjihrig!

[2017-10-24 17:59] icetbr opened #115 "Can't get pretty output when inside mongoose callback"
[code]
Expected
[code]
Actual
[code]

lab@14.3.1
code@4.1.0
hoek@4.2.0
mongoose@4.11.12

[2017-10-24 18:05] cjihrig commented on #115
I don't think this is an issue with code. The thrown exception (`Error: Expected '1' to equal specified value`) looks correct.  Maybe it's Lab's output you're unhappy with? If so, please open an issue there.

[2017-10-24 18:05] #115 closed

[2017-11-03 06:58] hueniverse opened #117 "Update dependencies"

[2017-11-03 07:01] #117 closed

[2017-11-23 11:45] danielo515 opened #118 "How to compare objects that include timestamps"
Hello,

I was wondering if there is a method to consider two objects to be equal if they include a timestamp which is close enough.

My problem comes when I generate the expected more or less manually, and both the expected and the actual object contains a timpestamp/date object that is generated when they are created. Of course there is a slight difference in milliseconds, but I want to consider

[2017-11-23 14:39] cjihrig commented on #118
You can handle this manually pretty easily I think:

[code]

[2017-11-23 14:39] #118 closed

[2017-11-23 18:23] ferrao opened #119 "reject does not fail if argument is of the wrong type"
I expected the following test to fail:
[code]
But surprisingly it does not. From the documentation, it is clear that the second argument to `reject()` needs to be a string or a regex, but would it not be safer to make the test fail if that is not the case?

[2017-11-25 21:21] danielo515 commented on #118
Hello @cjihrig

What you said is the opposite of what I want. I want to compare two big objects, ignoring the timestamps which are just one or two properties. I don't want to comprare all the props one by one, neither delete the timestamp fields

[2017-11-25 22:59] cjihrig commented on #118
Sorry, that's not what it sounded like, based on the original question.

There isn't really anything that does what you're asking for. There is `include()`, but you'll still end up specifying all of the parts of the object that you're interested in.

[2017-12-07 15:06] cjihrig commented on #119
Thanks for reporting this. I don't have the time to address this right now, but I'll take a PR to fix it.

[2017-12-13 12:30] ferrao commented on #119
I have submitted a PR submitted @cjihrig , can you review it please?

[2018-01-02 16:05] #119 closed

[2018-01-30 11:39] dominykas opened #123 "Assertions on error properties"
Ran into a use case recently, where I'd like to assert on error codes and some more meta information.

I'm thinking about `error([type], [message], [values])` / `throw([type], [message], [values])`, e.g.

[code]

This would essentially do an extra `expect(error).to.include(values);` - there is no other way to check this when using `to.throw()` AFAIK?

Happy to PR if acceptable.

[2018-01-30 11:49] mtharrison commented on #123
Sounds useful to me. Not sure if I'd be expecting `includes()` as you suggest or a deep equality check though.

[2018-01-31 09:25] dominykas commented on #123
Yeah, I was thinking about deep vs includes. But with error objects it may be hard to always assert the deep copy - there may be functions on it or other things you don't control, so a loose check feels more useful in practice. I couldn't come up with a nice way to make it optional - adding a fourth param would be pretty ugly? I also considered making the third param a function which receives the

[2018-02-04 02:27] cjihrig commented on #123
I'll entertain a PR for this 😄

[2018-02-04 11:41] dominykas commented on #123
@cjihrig any opinion on the API, before I jump into this? :)

[2018-02-08 01:24] hueniverse commented on #123
I'll replicate our `reject()` interface style and just return the error for further, separate assertions.

[2018-02-08 14:14] #123 closed

[2018-02-08 15:44] mtharrison commented on #123
So one would do the following?

[code]

[2018-02-08 19:05] hueniverse commented on #123
Yes.

[2018-07-10 21:53] ChemicalRocketeer opened #125 "why"

[2018-07-10 22:01] WesTyler commented on #125
Okay, I waited a few minutes to see if anything else was going to pop up on here as an edit...

Feel free to open a new issue if you have an issue to open :)

[2018-07-10 22:01] #125 closed

[2018-08-25 01:18] woolfi182 opened #127 "new Type -> class"
I think you need to add a new type 'class' for testing whether it is a class or not. Right now you need to use 'function' instead or try to create an instance of a class.

[2018-08-25 20:27] cjihrig commented on #127
What would the check look like to differentiate a class from a function (without stringifying the function), and why do you need it (since it's just a function)?

[2018-08-26 00:53] woolfi182 commented on #127
So, Let's imagine the situation when you don't want to create an instance of a class but you want to know that it is a class.
[code]
Now, for checking whether it is a class I'm doing something like this:
[code]
or
[code]

[2018-08-26 19:29] devinivy commented on #127
I don't need this in code, but I have run into a case where this kind of check was necessary.  Imagine your library handles input that can either be a value or a function that lazily returns a value.  If that value is allowed to be anything (including a class), then you'd want this check.  After some research, this how I ended-up implementing it,
https://github.com/devinivy/haute/blob/6ad38373c5a6

[2018-08-27 11:33] AdriVanHoudt commented on #127
Seems to be the conventional way to test it https://github.com/miguelmota/is-class/blob/master/is-class.js#L10

[2018-08-27 13:01] cjihrig commented on #127
I'm **really** not a fan of relying on the `toString()` behavior of functions. It seems flimsy and prone to change (not to mention it looks like Babel requires special casing). We've already got enough of this type of thing going on with stack trace parsing.

[2018-08-27 13:26] cjihrig commented on #127
Follow up question: do any popular assertion libraries support this?

[2018-08-27 18:40] hueniverse commented on #127
I don't see the point.

[2018-08-28 23:30] woolfi182 commented on #127
@cjihrig Not exactly
Using Jest you are able to do things like shown here https://jestjs.io/docs/en/es6-class-mocks#manual-mock
But it doesn't have a specific data type 'class'

[2018-08-28 23:44] #127 closed

[2018-11-01 07:15] hueniverse opened #129 "Update hoek v6"

[2018-11-01 07:16] #129 closed

[2018-11-02 23:38] hueniverse opened #130 "Remove engines"

[2018-11-02 23:38] #130 closed

[2018-12-04 19:47] athaax commented on #130
Why remove 'engines' if the package isn't compatible with older versions of node? Tried pulling in this library on a node 6.11.0 project but it uses async/await, which isn't supported in that version. This would have at least provided that warning.

[2018-12-04 19:56] cjihrig commented on #130
It was removed because the `engines` field doesn't help much. It only prints an easy to miss warning during `npm install`.

[2018-12-04 22:13] hueniverse commented on #130
Removed mostly due to inconsistent handling between npm and yarn.

[2019-01-02 10:12] shivam8800 opened #134 "there should be have an example folder like other npms"

[2019-01-02 10:13] #134 closed

[2019-03-20 18:22] dpmott commented on #41
(This comment is intended to detail a full work-around example and the issues with it, and is not intended to be a call to action.)

I would also enjoy the ability to extend Hapi Code to support a custom matcher. Unfortunately, in a typescript project I'm not sure how the @types/code definitions could be made to allow for a _seamless_ use scenario.

Based on the example that @coder13 offered in th

[2019-03-29 19:31] hueniverse opened #135 "Change module namespace"

[2019-03-29 22:04] #135 closed

[2019-03-29 23:11] hueniverse opened #136 "Better handling of thrown stack parsing"

[2019-03-29 23:11] #136 closed

[2019-07-05 21:18] zaclittleberry opened #137 "Expect Array of Objects to Include Object is requiring an exact match"
I'm not sure if this is a bug or a feature request because the examples in the api docs do work, but they are simple, and assumptions based on how the separate pieces work, when combined together do not work in this case. Thank you for the awesome library by the way. not complaining, just want to figure out if this is a bug or if I should do things differently! :)

I am trying to check if an array

[2019-07-11 14:56] forrestblade opened #139 "Typescript types would be super dope"

[2019-07-11 14:57] #139 closed

[2019-07-24 17:44] hueniverse commented on #137
This works as expected. The partial comparison only works on one level. If it is an array, it needs to find exact match of some items. If it is an object, exact match of some keys. An array of object doesn't get both...

[2019-07-24 17:44] #137 closed

[2019-07-24 17:46] hueniverse opened #140 "Use deepFunction flag for deep comparison"
Marked as breaking because it will now allow functions with different references to be deemed equal if they are identical internally.

[2019-07-24 17:47] hueniverse opened #141 "Support deep comparison key skipping"

[2019-07-24 18:08] #140 closed

[2019-07-24 18:08] #141 closed

[2019-07-24 18:15] hueniverse opened #142 "Deep comparison includes symbols"

[2019-07-24 18:15] #142 closed

[2019-08-12 19:15] samliebow opened #143 "expect(<'', [], or {}>).to.only.include('foo') passes"
Due to [an issue](https://github.com/hapijs/hoek/issues/323) in Hoek 6.0.2+, `expect().to.only.include()` always passes if the value in the `expect()` is an empty string, array, or object. This bug was introduced into Code in 5.2.2 via upgrading the Hoek version.

[2019-08-12 19:49] hueniverse commented on #143
Fix in hoek@8.2.1

[2019-08-12 19:49] #143 closed

[2019-08-14 05:58] greenkeeper[bot] opened #144 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-14 21:12] #144 closed

[2019-08-20 22:08] samliebow opened #146 "to.only.include(values) passes with values not in reference"
https://github.com/hapijs/code/issues/143 wasn't the whole story: `to.only.include` still has incorrect behavior after the fix that solved that. The underlying issue is [on Hoek](https://github.com/hapijs/hoek/issues/327), but filing here for reference.

This passes on 5.2.1 and fails at higher versions:
[code]

[2019-09-08 19:20] hueniverse commented on #146
No need to keep opening duplicate issues.

[2019-09-08 19:20] #146 closed

[2019-10-12 21:15] hueniverse opened #150 "Drop node 8"

[2019-10-12 21:15] hueniverse opened #151 "Add types"

[2019-10-13 01:12] #150 closed

[2019-10-13 01:12] #151 closed

[2019-11-18 22:50] emarkk opened #152 "Assertion with 'equal()' fails"
#### Support plan

* *which support plan is this issue covered by?*: community
* *is this issue currently blocking your project?*: yes
* *is this issue affecting a production system?*: no

#### Context

* *node version*: 12.11.0
* *module version*: 7.0.0
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi backend
* *any

[2019-11-19 00:08] hueniverse commented on #152
Look for keys with undefined values.

[2020-01-03 22:55] hueniverse opened #153 "Support only node 12"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise):
* *is this issue currently blocking your project?* (yes/no):
* *is this issue affecting a production system?* (yes/no):

#### Context

* *node version*:
* *module version*:
* *environment* (e.g. node, browser, native):
* *used with* (e.g. hapi application, another framework, standalone,

[2020-01-03 22:56] #153 closed

[2020-01-03 22:57] #152 closed

[2020-01-03 23:01] hueniverse opened #154 "Update hoek"

[2020-01-03 23:25] hueniverse opened #155 "Fix function string in node 13"

[2020-01-03 23:26] #154 closed

[2020-01-03 23:26] #155 closed

[2021-03-12 10:06] gerardolima opened #160 "The type `.rejects` returns should return a Promise"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): yes

#### Context

* *node version*: v14.15.4
* *module version with issue*: "@hapi/code": "^8.0.2"
* *last module version without issue*: unknown
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, sta

[2021-03-12 13:18] kanongil commented on #160
Created #161 which should fix this issue.

[2021-03-15 18:57] #160 closed

[2021-04-06 16:24] gerardolima opened #162 "Type error on .include()"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): yes

#### Context

* *node version*: 14.16.0
* *module version with issue*:  8.0.2
* *last module version without issue*: unknown
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): AW

[2021-04-06 23:09] kanongil commented on #162
That is a constructed test, that should never occur as is. The expect value would normally be some property.

In this case Code uses the inferred type from the expect object (`{ a: number, b: number, c: number }`) , to validate against the include arg. It would pass the type check, if the type actually matched, eg. `{ a: 0, b: 0, c: 0 }`.

If you don't want to use the inferred type, you can specif

[2021-04-07 10:00] gerardolima commented on #162
hey, @kanongil, thank you for the answer! I wonder if using `Partial<T>` to check for properties in the subject value `<T>` would be a mode _intuitive_ signature, as I try to demonstrate, below:

[code]

What do you think about it?

[2021-04-07 11:50] kanongil commented on #162
Thanks for the input. I thought about the same thing, which handles this issue, but was not sure that it actually improves things. I would need some real world use-cases to better judge.

[2021-04-07 14:13] gerardolima commented on #162
My case was very alike the sample: asserting the value for `body` property of a HTTP response; something like the following:
[code]

As I couldn't compile, I had to change code to test for the full response:
[code]

[2021-04-07 23:08] kanongil commented on #162
Thanks, that looks legit. Working on a patch to fix it along with some other issues.

[2021-04-08 06:55] Nargonath commented on #162
I was going to suggest `Partial` as well so looks good to me.

[2021-04-08 09:50] kanongil commented on #162
I did a fix in #163, where I made the `Partial` recursive, and also allow unknown properties on the base object.

[2021-11-05 13:13] kanongil opened #166 "Allow simpler tests for error.code"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: any
* *module version*: 8.0.3
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...):
* *any other relevant information*:

#### What problem are you try

[2021-11-05 14:20] #162 closed

[2021-11-05 14:33] devinivy commented on #166
This would be great 👍 We might also look for compatibility with [bounce's error matching](https://hapi.dev/module/bounce/api?v=2.0.0#rethrowerr-types-options).

[2021-11-05 14:39] Nargonath commented on #166
I agree good idea. Compatibility with `system` and `boom` type matching, if that's what you meant @devinivy, also sounds good. 👍

[2021-11-16 21:41] scizor666 opened #167 "compilation errors for primitive type assertions"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): yes

#### Context

* *node version*: v12.22.7
* *module version with issue*: 8.0.4
* *last module version without issue*: 8.03
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...):standa

[2021-11-17 09:19] kanongil commented on #167
Thanks for the report. This seems to be an issue with the recent #163. I'm looking into a fix.

[2021-11-17 11:02] kanongil commented on #167
I made a fix in #168.

[2021-11-20 04:14] #167 closed

[2022-01-24 07:26] hueniverse opened #172 "equal(value: T) type should be Loosely<T> when options ignore symbols or properties"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *module version with issue*: latest

#### What are you trying to achieve or the steps to reproduce?

The `equal()` / `equals()` methods allow for an incomplete comparison by ignoring symbols or some keys. The types do not allow that. I a